###### Features :
# - Resize bitmap with max : maxWidth
# - Convert Png to JPG : jsPngToJpg


inputFolder: "/Users/lienlq/Downloads/135/11"
maxWidth: 600
isPngToJpg: true
outFolder: "Output_BE_Christmas"
startWithName: "christmas_"
